<div id="edit_test_template_parameter_box" class="jpopup_box">
  <form id="edit_test_template_paramater" method="post" action="/test_case_template_params/update">
    <%= hidden_field_tag 'id' %>
    <table border='0' class="table_new_box_popup">
      <tr>
        <td colspan="2" bgcolor="#ccc0da"><p class="table_title">Edit Test Template Parameter</p></td>
      </tr>
      <tr>
        <%= td_tag('Test Case Template Parameter Name', :colspane => 2) %>
      </tr>
      <tr>
        <%= td_tag(text_field_tag 'test_case_template_param[name]') %>
      </tr>
      <tr>
        <td colspan="2"> <%= submit_tag("Update", :class => "add_button") %> <%= jquery_jpopup_close_button("cancel", "active_edit_template_parameter_cancel_button") %> </td>
      </tr>
    </table>
  </form>
</div>